{% extends 'base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block main %}
<div class="row">
            <div class="col-sm-12">
                <div style="height:55vh;width:100%;background-color: #21272f;">
                    <h1 id="head">About SmartBuildHub</h1>
                    <h1 id="he">Revolutionizing the construction industry with innovations smart building solutions and
                        sustainable practices.</h1>
                </div>
            </div>
</div>
            <div style="background-color: aliceblue;height: 280vh;">
                <h5 id="h">WHO WE ARE</h5>
                <h2 id="ht">Our Mission</h2>
                <p id="pa">At SmartBuildHub, we're committed to transforming the future of construction through
                    cutting-edge technology, sustainable practices, and unparalleled expertise. We believe in
                    creating buildings that are not just structures, but intelligent ecosystems that enhance lives.
                </p>
                <div class="box-row">
                    <div class="box">
                        <div class="line"></div>
                        <h2 style="color: orange; margin-top: 25px;">250+</h2>
                        <h5>Projects Completed</h5>
                    </div>
                    <div class="box">
                        <div class="line"></div>
                        <h2 style="color: orange; margin-top: 25px;">30+</h2>
                        <h5>Years Experience</h5>

                    </div>

                    <div class="box">
                        <div class="line"></div>
                        <h2 style="color: orange; margin-top: 25px;">98%</h2>
                        <h5>Client Satisfaction</h5>

                    </div>
                    <div class="box">
                        <div class="line"></div>
                        <h2 style="color: orange; margin-top: 25px;">42</h2>
                        <h5>Industry Awards</h5>
                    </div>
                </div>
                <div class="row" style="margin: 73px; margin-top: 150px;">
                    <div class="col-sm-6">
                        <h5 style="color: orangered;">OUR JOURNEY</h5>
                        <h1 style="color: black;">Our Story</h1>
                        <p style="margin-top: 50px; font-size:large;"> Founded in 2010, SmartBuildHub began with a
                            simple vision: to integrate smart technology into every aspect of construction and
                            building management. What started as a small team of innovators has grown into an
                            industry-leading company.</p>

                        <p style="font-size:large;">Over the years, we've pioneered numerous building technologies
                            that have revolutionized how structures are designed, built, and maintained. Our
                            commitment to sustainability and innovation has earned us recognition as one of the most
                            forward-thinking companies in the construction sector.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'img/office.jpg' %}" alt="logo" id="im">
                    </div>
                </div>
                <div class="row">
                    <h6 id="lo">WHAT DRIVES US</h6>
                    <h2 style="text-align: center;font-weight: 600;">Our Core Values</h2>
                </div>

                <div class="box-row">
                    <div class="box1" id="bo">
                        <div class="line1"></div>
                        <div class="icon-text">
                            <img src="{% static 'img/seedling.png'%}"style="height:50px;width:50px;" class="leaf-icon">
                            <h4 style="text-align: left;padding-top: 30px;font-weight: bold;">sustainability</h4>
                            <p style="text-align: left;">We prioritize eco-friendly materials and energy-efficient
                                designs in every project we undertake.</p>
                        </div>
                    </div>
                    <div class="box1" id="bo">
                        <div class="line1"></div>
                        <div class="icon-text">
                        <img src="{% static 'img/bulb.png'%}"style="height:50px;width:50px;" class="leaf-icon">
                            <h4 style="text-align: left;padding-top: 30px;font-weight: bold;">Innovation</h4>
                            <p style="text-align: left;">We constantly push boundaries with cutting-edge technology
                                and forward-thinking solutions.</p>
                        </div>
                    </div>
                    <div class="box1" id="bo">
                        <div class="line1"></div>
                        <div class="icon-text">
                            <img src="{% static 'img/hand.png'%}"style="height:50px;width:50px;" class="leaf-icon">
                            <h4 style="text-align: left;padding-top: 30px;font-weight: bold;">Collaboration</h4>
                            <p style="text-align: left;">We foster strong relationships with clients, partners, and
                                communities to create lasting impact.</p>
                        </div>
                    </div>
                    <div class="box1" id="bo">
                        <div class="line1"></div>
                        <div class="icon-text">
                            <img src="{% static 'img/tick.png'%}"style="height:55px;width:55px;" class="leaf-icon">
                            <h4 style="text-align: left;padding-top: 30px;font-weight: bold;">Excellence</h4>
                            <p style="text-align: left;">We maintain the highest standards in every aspect of our
                                work and never compromise on quality.</p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

