{% extends 'homeownerbase.html' %}
{% load static %}
{% block homeowner %}

        <div class="row" style="height:100vh;background-color: #f08080">
            <div class="col-sm-4 mx-auto my-auto">
                <div class="card" style="height: 400px;">
                    <div class="text-center">
                        <img src="{% static 'img/logo.png' %}" alt="logo" height="60" width="70">
                    </div>
                    <h4 class="text-center">Change password</h4>
                    {% if messages %}

                    {% for m in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{m}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="password" name="oldpwd" class="form-control" id="floatingInput"
                                placeholder="">
                            <label for="floatingInput">Old Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="newpwd" class="form-control" id="password"
                                placeholder="">
                            <label for="floatingPassword"> New Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="confirmpwd" class="form-control" id="password"
                                placeholder="">
                            <label for="floatingPassword">Confirm Password</label>
                        </div>
                        <button type="submit" class="btn mt-3 w-100 mx-0" style="background-color:orangered">Change Password</button>
                        <p class="mt-4 mx-3">&copy;smartbuildhub<a href="{% url 'index' %}"
                                class="float-end fw-semibold mx-3">Back to home</a></p>
                    </form>
                </div>
            </div>
        </div>
    
{% endblock %}